@font-face {font-family:"Tamil";src:url("tamil.ttf") format("truetype");font-weight:normal;font-style:normal;}

.Tamil {
  .letter,
  .dual {
    font-family: Tamil;
  }

  &.typing-view * {
    font: 35px/35px Tamil;
  }
  &.story-typing {
    font: 20px/20px Tamil;
  }
  &.freeTA {
    font: 20px/20px Tamil;
  }
}
